@media all and (max-width: 480px) {
    .registration_heder{
     background-color: #FFFFFF;
    }
    .registration_heder_first h3{
        font-size: 20px;
        color: #1B1F3BCC;
    }
    .registration_heder_next span{
        width: 32px;
        height: 32px;
        color: #333333;
        background-color: #D7D7D7;
    }
    .registration_start{
        display: none;
    }
    .mobile_version{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}